<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="foodtruckuser.randombox.sweng.cbnu.com.foodtruckuser">

    <!-- 퍼미션 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!--서비스-->


    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">

        <!-- 액티비티 -->
        <activity
            android:name=".ui.main.FragmentMain"
            android:hardwareAccelerated="true"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".ui.SubMain.Fragment.FragmentSubMain"
            android:supportsRtl="true"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.join.JoinMain" />
        <activity android:name=".ui.join.sign.SigninActivity" />
        <activity android:name=".ui.join.sign.SignupActivity" />
        <activity android:name=".ui.SubMain.Acitivity.ActivityComments" />
        <activity android:name=".ui.SubMain.Acitivity.AcitivityTruckReview" />
        <activity android:name=".ui.SubMain.Acitivity.ActivityMap" />
        <activity android:name=".ui.SubMain.Acitivity.ActivityWebView" />
        <activity android:name=".ui.join.sign.PwChangeActivity"/>
        <activity android:name=".ui.NaviagtionMain.ActivitySetLocationMap"/>
        <activity android:name=".ui.NaviagtionMain.AcitivityFestiveWriting"/>

        <activity android:name=".ui.SubMain.Acitivity.AcitivityTruckDetail">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/kakaolink_host"
                    android:scheme="@string/kakao_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SubMain.Acitivity.AcitivityTruckMenu" />
        <activity android:name=".ui.NaviagtionMain.AcitivityMyReview" />

        <!-- 페이스북 메타 데이터들 -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 구글 메타 데이터들 -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDUM8HXq1k8LcGCSaDPlf0pGT5EbUsQK4M" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- 카카오 메타 데이터들 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".ui.SubMain.Acitivity.AcitivityWriting"></activity>

        <!--FCM-->
        <service
            android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!--FCM-->
        <service
            android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>